body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



.App {
  text-align: center;
}

#home {
  /* background: rgb(34, 51, 38); */
  /* background: radial-gradient(circle, rgba(55,53,80,0.8379726890756303) 5%, rgba(42,41,79,0.41780462184873945) 46%, rgba(30,30,78,0) 70%); */
}

.App-header {
  background-color: #282c34;
  /* background: linear-gradient(0deg, rgba(53,80,59,1) 0%, rgba(55,53,80,1) 3%, rgba(30,30,78,1) 97%, rgba(16,67,78,1) 100%); */
  /* background: linear-gradient(0deg, rgba(55,53,80,1) 0%, rgba(30,30,78,1) 100%); */
  min-height: 100vh;
  height: 100%;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: auto;
  overflow-y: scroll;
}

div#main-content {
  padding: 10px 10px;
  font-size: 20px;
  position: relative;
  left: 0px;

  transition: .3s ease-out;
  -webkit-transition: 0.3s ease-out;
} div#main-content.moved {
  left: 150px;
}

div#page-content {
  overflow-y: scroll;
  padding-left: 70px;
  padding-right: 10px;
}


.normlink {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  background-color: rgb(167, 167, 167);
  color: black;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
} .normlink:hover {
  text-decoration: none;
  background-color: #ddd;
  color: rgb(34, 34, 34);
}

.normlink a {
  text-decoration: none;
  color: black;
}

a.quietLink {
  text-decoration: none;
  color: black;
} a.quietLink:hover {
  text-decoration: none;
  color: rgb(30, 25, 54);
}


#toggle-btn {
  position: fixed;
  z-index:1000;
  width: 45px;
  padding: 8px 8px;
  margin-right: 10px;
  left: 0px;
  background: #e1e1e1;
  top: 30px;
  cursor: pointer;
  transition: .3s ease-out;
  -webkit-transition: 0.3s ease-out;
} #toggle-btn.moved {
  left: 150px;
} #toggle-btn span {
  width: 30px;
  height: 2px;
  background: #444;
  display: block;
  margin-bottom: 6px
} #toggle-btn span:last-child {
  margin-bottom: 0;
}

ul.navbar-nav {
  list-style: none;
  margin-top: 10px;
}

.navbar-nav li {
  -webkit-user-select: none; /* Safari */ -moz-user-select: none; /* Firefox */ -ms-user-select: none; /* IE10+/Edge */ user-select: none; /* Standard */
  list-style-type: none;
  width: 100%;
  line-height: 20px;
  /* height: 40px; */
  padding: 10px 15px;
  box-sizing: border-box;
  border-bottom: 1px solid gray;
  font-size: 20px;
} .navbar-nav li:hover {
  background: #3a3acce0;
  font-size: 22px;
  color: #e1e1e1;
  text-decoration: none;

} .navbar-nav a {
  color: #e1e1e1;
  text-decoration: none;
} .navbar-nav a:hover {
  color: #e1e1e1;
  text-decoration: none;
}


.download-btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
} .download-btn:hover {
  background-color: RoyalBlue;
}

.card-footer {
  transition: .3s ease-out;
  -webkit-transition: 0.3s ease-out;
}

.jumbotron {
  background-color: #0808082c;
  color: black;
}